.profile{
    height: 216px;
    width: 200px;
    padding-top: 20px;
    vertical-align: bottom;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    
    border: 1px solid gray;

}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(219, 214, 214);
}

.stats{
    display: flex;
    background-color: rgb(212, 204, 204);
}

.statsItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width: calc(100%/3);
    height: 50px;
    border: 1px solid rgb(107, 107, 107);
}
.name{
    font-size: 25px;
}

.label{
    font-size: 12px;
    color: rgb(248, 249, 250);
}